.nav-link {
    color: #fafafa; 
}

/* .nav-link:hover {
    text-decoration: underline;
    font-style: italic;
} */

/* .nav-link:focus {
    outline: 0 none;
    outline-offset: 100;
    border-color: #007ad9;
    border-radius: 0.2rem;
    box-shadow: 0 0 0 0.2em #8dcdff;
} */

/* .mat-toolbar.mat-primary {
    background: #343a40;
} */