<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="pr-5"><i class="fa fa-fw fa-envelope"></i> Email Counts</span>

        <a class="nav-link" href="/counts">
            <span>Counts <i class="fa fa-fw fa-list"></i></span>
        </a>
        <a class="nav-link" href="/recipients">
            <span>Recipients <i class="fa fa-fw fa-user-circle-o"></i></span>
        </a>
        <a class="nav-link" href="/exclusions">
            <span>Exclusions <i class="fa fa-fw fa-exclamation-circle"></i></span>
        </a>
    </mat-toolbar-row>
</mat-toolbar>