.fa-red {
    color: tomato;
}

.row {
    margin-left: 0%;
    margin-right: 0%;
}

fieldset {
    border: 1px solid lightgray;
    border-radius: .5rem;
    margin: 5px;
}

.float-right {
    float: right;
}

th {
    font-weight: normal !important;
}

/* search input section */
.search-input {
    margin-left: 10px; 
    border-radius: 0.3rem;
    padding: 5px;
    border: 1px solid #80808073;
}

.search-input:focus {
    outline: none !important;
    border: 2px solid #3f51b5;
}

/* pagination section */
pagination-controls ::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #3f51b5 !important;
    border-color: #3f51b5 !important;
    border-radius: 0.2rem;
    color: #fefefe;
    cursor: default;
}

.pagination-footer {
    padding-top: 25px;
}