.ml-10 {
    margin-left: 10px;
}

fieldset {
    border: 1px solid lightgray;
    border-radius: .5rem;
    margin: 1rem;
    padding-bottom: 1rem;
}

legend {
    width: auto;
    padding: 0 0.5rem 0 0.5rem;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    outline: 0 none;
    border-radius: 0.2rem;
    color: #3f51b5 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red !important;
    opacity: 0.8 !important;
}